.container {
  height: 100vh;

  .sider {
    width: 120px !important;

    .logo {
      // width     : 120px;
      height    : 32px;
      background: rgba(255, 255, 255, 0.2);
      margin    : 16px;
    }
  }

  .rightLayout {
    .header {
      // position: fixed;
      // z-index : 1;
      // width   : 100%;
      padding   : 0px;
      background: #fff;

      .trigger {
        font-size  : 18px;
        line-height: 64px;
        padding    : 0 24px;
        cursor     : pointer;
        transition : color 0.3s;
      }

      .trigger:hover {
        color: #1890ff;
      }
    }

    .contentContainer {
      padding: 15px;

      .content {
        padding   : 15px;
        background: #fff;
        min-height: 380px;
        height    : 100%;
      }
    }

    .footer {
      text-align: center;
    }
  }
}